<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Gmigmi_Helloworld::parent" title="Helloworld" module="Gmigmi_Helloworld" sortOrder="100" resource="Gmigmi_Helloworld::parent"/>
        <add id="Gmigmi_Helloworld::index" title="Helloworld Index" module="Gmigmi_Helloworld" sortOrder="10" action="helloworld/index" resource="Gmigmi_Helloworld::index" parent="Gmigmi_Helloworld::parent"/>
		
    </menu>
</config>